/*

My Custom CSS
=============

/* --------------------------------------
   Layout
   -------------------------------------- */

body {
    margin-top: 60px;
    font-size: 14px;
    font-family: "Helvetica Nueue", Arial, Verdana, sans-serif;
    background: url(../images/back.jpg);
}


/* --------------------------------------
   Typography
   -------------------------------------- */


/* --------------------------------------
   Navbar
   -------------------------------------- */


/* --------------------------------------
   Carousel
   -------------------------------------- */


/* --------------------------------------
   Global Styles
   -------------------------------------- */


/* --------------------------------------
   Media Queries
   -------------------------------------- */


/* Portrait & landscape phone */

@media (max-width: 480px) {}


/* Landscape phone to portrait tablet */

@media (max-width: 768px) {}


/* Large desktop */

@media (min-width: 1200px) {}
