
  <li class="media-left">
    <a href="#">
      <img class="media-object img-circle" src="{{question.image}}" alt="...">
    </a>
    <p>{{question.author}}</p>
  </div>
  <div class="media-body">
    <h3 class="media-heading">{{question.heading}}</h3>
  </li>
